@media (min-width: 1280px) {
    html {
        font-size: 16px;
    }

    .main-content {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-header{
        min-height: 73px;
    }
}