* {
    box-sizing: border-box;
}

html {
    font-family: poppins;
    color: white;
    background-color: var(--clr3);
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

p {
  margin: 0
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

button {
  border: unset;
  color: var(--primary-clr-600);
  background-color: unset;
}