@font-face {
    font-family: poppins;
    src: url('/typography/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins;
    src: url('/typography/Poppins-SemiBold.ttf');
    font-weight: 500;
}

@font-face {
    font-family: poppins;
    src: url('/typography/Poppins-ExtraBold.ttf');
    font-weight: 700;
}