:root {
    --clr1: #ffffff;
    --clr2: #fefefe;
    --clr3: #22252c;
    --clr4: #ebeef3;
    --clr5: #5970c1;
    --clr6: #3e4b68;
    --clr7: #3d3d3d;
    --clr8: #8f44bb;
    --clr9: #383b42;
    --clr10: #1e7cd3;
    --clr11: #21ac91;
    --clr12: #19a59f;
    --clr13: #3dcf53;
    --clr14: #d62837;
}